.characters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 25px 0;
    padding: 0 15px;

    &__char {
        flex: 1;
        max-width: 55px;
        margin: 4px;

        &:hover {
            cursor: pointer;
            color: $fontColor1Hover !important;
        }

        & img {
            width: 100%;
        }

        & span {
            display: block;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            transition: 0.3s;
            color: inherit;
        }
    }
}