.controlPanel {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 290px;
    min-width: 240px;
    position: relative;
    
    background-color: $bgColor1;
    border-right: 7px solid $decColor1;    
}