.controlPanel {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 290px;
    min-width: 240px;
    position: relative;
    
    background-color: $bgColor1;
    border-top: 7px solid $decColor1;   
    border-right: 7px solid $decColor1;
    border-left: 7px solid $decColor1; 

    &__showCpBtn {
        position: absolute;
        top: calc(50% - 34px);
        right: -41px;
        width: 30px;
        height: 60px;

        border-radius: 0 60px 60px 0;
        border: 4px solid $decColor1;
        background: $bgColor1;

        &:before, &:after {
            position: absolute;
            content: '';
        }

        &:before {
            top: 50%;
            left: 8px;
            height: 3px;
            width: 17px;

            background: $fontColor1;
        }

        &:after {
            top: calc(50% - 4px);
            left: 6px;
            width: 8px;
            height: 8px;
            transform: rotate(-135deg);

            background: transparent;
            border-top: 3px solid $fontColor1;
            border-right: 3px solid $fontColor1;
        }
    }
}