.controlPanel {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 290px;
    min-width: 240px;
    position: relative;
    
    background-color: $bgColor1;
    border-top: 7px solid $decColor1;   
    border-left: 7px solid $decColor1; 

    &:hover {
        .controlPanel__hideCpBtn {
            right: -41px;
        }
    }

    &__hidder {
        position: absolute;
        right: -7px;
        top: calc(50% - 40px);
        height: 70px;
        width: 42px;
        z-index: 2;

        border-right: 7px solid $decColor1;
    }

    &__hideCpBtn, &__showCpBtn {
        position: absolute;
        top: calc(50% - 33px);
        right: 0;
        width: 30px;
        height: 50px;
        z-index: 1;

        border-radius: 0 50px 50px 0;
        border: 4px solid $decColor1;
        border-left: 7px solid transparent;
        background: $bgColor1;
        transition: 0.5s;

        &:hover {
            cursor: pointer;
            right: -41px;
        }

        &:before, &:after {
            position: absolute;
            content: '';
        }

        &:before {
            top: 50%;
            left: 8px;
            height: 3px;
            width: 17px;

            background: $fontColor1;
        }

        &:after {
            top: calc(50% - 4px);
            left: 6px;
            width: 8px;
            height: 8px;
            transform: rotate(-135deg);

            background: transparent;
            border-top: 3px solid $fontColor1;
            border-right: 3px solid $fontColor1;
        }
    }

    &__showCpBtn {
        top: calc(50% - 50px);
        right: auto;
        left: 0;

        border-left: 7px solid $decColor1;

        &:before {
            left: 4px;
        }

        &:after {
            left: 12px;
            transform: rotate(45deg);
        }
    }

    &__version {
        position: absolute;
        flex: 1;
        padding: 10px 15px;
        bottom: 0;
        right: 0;
        
        color: $fontColor1;
        letter-spacing: 2px;
        font-size: 9px;
        text-align: right;
        font-weight: 700;
    }
}