.gameHeader {
    flex: 1;

    text-transform: uppercase;
    text-align: center;
    font-size: 1.7em;
    color: $fontColor1;

    & h1 {
        margin: 15px 10px;
        line-height: 1.2em;
    }
}