.help {
    display: flex;
    flex-direction: column;
    z-index: 99;
    max-width: 70%;
    padding: 20px 30px 50px 30px;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.6);

    &__header {
        flex: 1;
        margin-bottom: 20px;

        font-weight: 700;
        letter-spacing: 4px;
        text-align: center;
        text-transform: uppercase;
    }

    &__box {
        flex: 1;

        & h3 {
            margin-bottom: 0;
        }

        & ul {
            margin-top: 5px;
        }
    }
}

.helpWrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}