.button {
    flex: 1;
    margin: 10px 5px;
    justify-content: center;

    border: none;
    background: transparent;
    cursor: pointer;
    outline: 0;

    &--start {
        width: 100%;

        text-transform: uppercase;
        color: $fontColor1;
        letter-spacing: 2px;
        font-size: 1.5em;
        font-weight: 100;
    }
}