.manualMovement {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;

    @media(max-width: 750px) {
        display: block;
    }

    &__top, &__right, &__down, &__left {
        position: absolute;
        width: 40px;
        height: 40px;
        z-index: 99;

        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    &__top {
        top: 25px;
        left: calc(50% - 20px);
    }

    &__right {
        top: calc(50% - 20px);
        right: 25px;
    }

    &__down {
        bottom: 25px;
        left: calc(50% - 20px);
    }

    &__left {
        left: 25px;
        top: calc(50% - 20px);
    }

    &__pickUp {
        position: absolute;
        display: flex;
        width: 95px;
        height: 40px;
        right: 15px;
        bottom: 15px;
        z-index: 99;
        align-items: center;
        justify-content: center;

        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 11px;
    }
}

.arrow {
    position: relative;
    width: 4px;
    height: 26px;
    margin: 7px 18px 5px 18px;

    background: $decColor3;

    &:before, &:after {
        position: absolute;
        content: '';
        top: -3px;
        width: 4px;
        height: 18px;

        background: $decColor3;
    }

    &:before {
        left: -5px;
        transform: rotate(45deg);
    }

    &:after {
        right: -5px;
        transform: rotate(-45deg);
    }

    &--left {
        transform: rotate(-90deg);
    }

    &--down {
        transform: rotate(180deg);
    }

    &--right {
        transform: rotate(90deg);
    }
}