.gameInfo {
    display: flex;
    min-width: 100%;
    height: 60px;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    background-color: $bgColor1;
    border: 7px solid $decColor1;
}