.item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 15px;

    &__pic {
        flex: 1;
        max-height: 100%;
        padding: 8px;

        & img {
            display: block;
            height: 100%;
        }
    }

    &__value {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 4px;

        & span {
            display: block;
            width: 40px;

            font-size: 1.2em;
            font-weight: 400;
        }

        &--timer {
            min-width: 60px;
        }
    }
}