.item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 20px;

    &__pic, &__value {
        padding: 8px;
    }

    &__pic {
        flex: 1;
        max-height: 100%;

        & img {
            display: block;
            height: 100%;
        }
    }

    &__value {
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
            display: block;

            font-size: 1.2em;
            font-weight: 400;
        }
    }
}