.boardWindow {
    flex: 1;
    height: calc(100% - 60px);
    position: relative;
    z-index: 0;
    overflow: auto;

    border-top: 7px solid $decColor1;
    border-right: 7px solid $decColor1;
    border-left: 7px solid $decColor1;
}

.board {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background: palegoldenrod;
    border: 3px solid red;
}