.boardWindow {
    flex: 1;
    height: calc(100% - 60px);
    position: relative;
    z-index: 0;
    overflow: hidden;

    border-top: 7px solid $decColor1;
    border-right: 7px solid $decColor1;
    border-left: 7px solid $decColor1;
    background-color: #1d1d1e;
}

.board {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 3px solid $decColor2;
}