//Variables


//Font colors
$fontColor1: #a5a9af;
$fontColor1Hover: #eee;
$fontColor2: #434851;


//Decorations color
$decColor1: #0e0e0f;
$decColor2: #343a42;


//Backgrounds color
$bgColor1: #1f262d;