//Variables


//Font colors
$fontColor1: #a5a9af;
$fontColor1Hover: #eee;
$fontColor2: #434851;
$fontColor3: #fff;


//Decorations color
$decColor1: #1b1f26;
$decColor2: #343a42;
$decColor3: #909090;


//Backgrounds color
$bgColor1: #1f262d;

//Shadows
$blackShadow1: rgba(0, 0, 0, 0.2);